// "@tailwind" são diretivas que indicam cinjuntos de estilos
// pré-definidos usados pelo tailwind:

@tailwind base; //estilos base, padrão
@tailwind components; //estilos para componentes reutilizáveis como botões
@tailwind utilities; //utilitários aplicáveis aos elementos html via classname


* {
    min-width: 0;
    /* border: 1px solid yellow; */
    box-sizing: border-box;
}

html, body {
    margin: 0;
}


// no geral, este arquivo serve para:
    // 1 - aplicar estilos css globais;
    // 2 - adcionar estilos tailwindd personalizados;
    // 3 - importar estilos externos;